@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/tippy.js/dist/tippy.css";
img {
    object-fit: contain !important;
    padding: 10px;
    max-height: 200px;
}
p {
    margin: 0px;
}
.media {
    position: relative;
    img {
        margin-left: 10px;
    }
}
.icon {
    height: 25px;
    width: 25px;
    margin: 8px;
    z-index: 9;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon:hover,
.icon:focus {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
.read {
    background-image: url("../img/eye.svg");
}
.update {
    background-image: url("../img/pencil-square.svg");
}
.delete {
    background-image: url("../img/trash.svg");
}
.confirm {
    background-image: url("../img/check-circle.svg");
}
.cancel {
    background-image: url("../img/x-circle.svg");
}

#team-list {
    max-height: 100vh;
    max-width: 800px;
}

.pop-up {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
}
#viewer-pop-up {
    padding: 5px 20px;
    label {
        margin-bottom: 1px;
    }
    input {
        width: 100%;
        margin-bottom: 7px;
        border-radius: 2px;
        padding: 5px;
    }
    #form-btn {
        width: 90%;
        margin: 5px;
    }
}
