<div id="delete-pop-up" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="delete">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content pop-up">
            <div class="modal-header border-danger">
                <h5 class="modal-title">Delete!</h5>
            </div>
            <div class="modal-body border-danger">
                <p>Are you Sure?</p>
            </div>
            <div class="modal-footer border-danger">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete-confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewer-pop-up" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pop-up">
            <div class="modal-header border-primary">
                <h5 class="modal-title" id="update-pop-up">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer border-primary">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="form-save" class="btn btn-primary">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>
