<div style="display:flex;">
    <div class="icon Read" data-toggle="modal" data-target="#viewer-pop-up"></div>
    <div class="icon Update" data-toggle="modal" data-target="#viewer-pop-up"></div>
    <div class="icon Delete" data-toggle="modal" data-target="#delete-pop-up"></div>
</div>
