<div style="display:flex;">
    <div class="icon read" data-toggle="modal" data-target="#viewer-pop-up"></div>
    <div class="icon update" data-toggle="modal" data-target="#viewer-pop-up"></div>
    <div class="icon delete" data-toggle="modal" data-target="#delete-pop-up"></div>
</div>
